<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Charts</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Charts</h1>
    <!-- Row with buttons for navigation -->
    <div class="navigation-buttons">
        <button onclick="location.href='/'">Database</button>
        <button onclick="location.href='/charts.html'">Charts</button>
    </div>
    <!-- Your chart content goes here -->
    <div id="chart-container">
        <!-- Place your chart elements here -->
    </div>
    <script src="static/scripts.js"></script>
</body>
</html>
